body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: $font-weight-regular;
  font-size: $font-size-default;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: $font-weight-regular;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: $font-weight-bolder;
    letter-spacing: 1.65rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: $font-weight-bolder;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem $color-transparent-black;
  }
}

.heading-tertiary {
  font-size: $font-size-default;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;
}

.paragraph {
  font-size: $font-size-default;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
