$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7738;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-transparent-black: #00000033;

$font-weight-bolder: 700;
$font-weight-regular: 400;
$font-size-default: 1.6rem;

$border-radius-default: 3px;

// test grid vars
$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
